@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body {
    background-color: black;
    color: white;
    font-family: 'Mukta', sans-serif;
}

main {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1px solid white;
    margin: auto;
}

label {
    margin: 10px auto;
}

input {
    margin: 10px auto;
    padding: 5px;
    max-width: 150px;
}

.div-operacoes {
    margin: 5px auto;
    text-align: center;
}

.operacoes-div {
    width: 80px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Mukta', sans-serif;
}

#resultado {
    margin: 0 auto;
}